:root {
	--main-color: #212121;
	--second-color: #757575;
	--accent-color: #2196f3;
	--button-hover: #188ce8;
	--white-color-colorbg: #fff;
	--dark-background: #2f303a;
	--grey-background: #f5f4fa;
	--icon-color: #afb1b8;

	--letter-spacing: 0.03em;
	--big-letter-spacing: 0.06em;
	--line-height-auto: 1.2;
}
/*C: Utilities */
body {
	font-family: "Roboto", sans-serif;
	color: var(--main-color);
	background-color: var(--white-color-colorbg);
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.services-section {
	padding-top: 0;
}
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
}
h1,
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
	color: var(--main-color);
}
ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;

	list-style: none;
}
button {
	font-family: inherit;
}
img {
	display: block;
}
address {
	font-style: normal;
}
.hero,
.features .title,
.footer .title {
	text-transform: uppercase;
}
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
/*C: Header */
.header {
	border-bottom: 1px solid #ececec;
}
.header .item,
.header .container,
.nav {
	display: flex;
	align-items: center;
}
.nav-list {
	display: flex;
	gap: 50px;
}
.logo {
	display: block;
	margin-right: 93px;

	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: var(--line-height-auto);
	color: #000000;
}
.nav-list .link {
	display: block;
	padding: 32px 0;
}
.header .link {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.02em;
	line-height: var(--line-height-auto);
}
.header .contacts {
	margin-left: auto;
}
.contacts .link {
	color: var(--second-color);
}
.contacts .icon {
	margin-right: 10px;
	fill: currentColor;
}
/*C: Hero section */
.hero-section > .section {
	padding: 200px;
}
.hero-section {
	min-width: 1600px;

	background-image: linear-gradient(180deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../images/hero-bg-img.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.hero-section,
.footer {
	background-color: var(--dark-background);
}
.hero {
	margin-bottom: 16px;
	text-align: center;

	font-weight: 900;
	font-size: 44px;
	letter-spacing: var(--big-letter-spacing);
	line-height: 1.36;
}
.hero,
.address-info > :first-child,
.link.real-address,
.footer .title {
	color: var(--white-color-colorbg);
}
.action-button {
	display: block;
	margin: 0 auto;
	padding: 10px 32px;
	text-align: center;

	font-weight: 700;
	font-size: 16px;
	letter-spacing: var(--big-letter-spacing);
	line-height: 1.88;

	border-style: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.action-button,
.filter {
	border-radius: 4px;

	cursor: pointer;
}
/*C: Features section */
.features,
.services,
.team,
.clients,
.header .contacts {
	display: flex;
	gap: 30px;
}
.features > .card,
.team > .card {
	width: calc((100% - 90px) / 4);
}
.features-bg {
	height: 120px;
	margin-bottom: 30px;

	background-color: var(--grey-background);
}
.features .title,
.footer .title {
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: var(--line-height-auto);
	letter-spacing: var(--letter-spacing);
}
.text {
	margin-bottom: 0;
	margin-top: 0;
	letter-spacing: var(--letter-spacing);
	color: var(--second-color);
}
.features .text,
.footer .link {
	font-size: 14px;
	line-height: 1.5;
}
/* C: Services and team sections*/
.services > .card,
.portfolio > .card {
	width: calc((100% - 60px) / 3);
}
.block-title {
	margin-bottom: 50px;
	text-align: center;

	font-weight: 700;
	font-size: 36px;
	line-height: var(--line-height-auto);
	letter-spacing: var(--letter-spacing);
}
.team-section {
	background-color: var(--grey-background);
}
.team .card {
	background-color: var(--white-color-colorbg);
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team .content {
	padding: 30px 0;
}
.team .title {
	margin-bottom: 10px;
	text-align: center;
}
.team .title,
.filter {
	display: block;
	font-weight: 500;
}
.team .title,
.team .text,
.portfolio .text,
.filter {
	font-size: 16px;
	line-height: var(--line-height-auto);
	letter-spacing: var(--letter-spacing);
}
.team .text {
	margin-bottom: 16px;

	text-align: center;
}
/* C: Clients section */
.socials,
.socials .item,
.clients .item,
.features-bg {
	display: flex;
	justify-content: center;
	align-items: center;
}
.clients .item {
	padding: 16px 31px;

	color: var(--icon-color);

	border-radius: 4px;
	border: 1px solid var(--icon-color);
}
.clients .icon,
.socials .icon {
	fill: currentColor;
}
/* C:Footer */
.footer .container {
	display: flex;
	align-items: center;
	gap: 70px;
}
.socials-footer .title,
.footer .logo {
	margin-bottom: 20px;
}
.socials {
	gap: 10px;
}
.socials .item {
	height: 44px;
	width: 44px;

	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
}
.socials a,
.clients a,
.contacts a {
	display: inline-flex;
	align-items: center;
	color: var(--icon-color);
}
.address-info .item:not(:last-child) {
	margin-bottom: 9px;
}
.footer .link + .link {
	color: rgba(255, 255, 255, 0.6);
}
/*C: Portfolio page */
.filters-list {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}
.filter {
	padding: 6px 22px;
	text-align: center;

	letter-spacing: var(--letter-spacing);
	line-height: 1.63;

	background-color: var(--grey-background);
	border-style: none;
}
.portfolio {
	display: flex;
	flex-wrap: wrap;
}
.portfolio .card:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}
.portfolio .card:not(:nth-child(3n)) {
	margin-right: 30px;
}
.portfolio .content {
	padding: 20px 24px;

	border: 1px solid #eeeeee;
	border-top: none;
}
.portfolio .title {
	margin-bottom: 4px;

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: var(--big-letter-spacing);
}

/*C: Hovers */
.action-button:hover,
.action-button:focus,
.socials .item:hover,
.socials .item:focus {
	background-color: var(--button-hover);
}
.logo-accent,
.link.active,
.link:hover,
.link:focus,
.clients .item:hover .icon,
.clients .item:focus .icon {
	color: var(--accent-color);
}
.clients .item:hover,
.clients .item:focus {
	border: 1px solid var(--accent-color);
}
.clients .card:hover,
.clients .card:focus {
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
}
.footer .icon,
.socials .item:hover .icon,
.socials .item:focus .icon {
	color: var(--white-color-colorbg);
}
.action-button,
.filter.active,
.filter:hover,
.filter:focus {
	color: var(--white-color-colorbg);
	background-color: var(--accent-color);
}
.filter:hover,
.filter:focus,
.filter.active {
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio .card:hover,
.portfolio .card:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	cursor: pointer;
}
